<section class="hero" id="hero">
  <div class="hero-head"></div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="is-1 title">
        Members area
      </h1>
      <p>Updated At:
        <b>{{accountData?.updatedAt}}</b>
      </p>
      <p>Created At:
        <b>{{accountData?.createdAt}}</b>
      </p>
      <p>Username:
        <b>{{accountData?.username}}</b>
      </p>
      <p>Email:
        <b>{{accountData?.email}}</b>
      </p>
      <p>Role:
        <b>{{accountData?.role}}</b>
      </p>
      <p>User ID:
        <b>{{accountData?.id}} {{accountData?.currency}}</b>
      </p>

    </div>
  </div>
</section>
